body{
    width:96vw;
    margin:0 2vw;
    background-color:#F5F5F5;
    text-align:center;
}
#logo{
    width:20vh;
    height:20vh;
    border-radius:50%;
    margin:0 auto;
    background-color:#000000;
}
#status{
    height:5vh;
    background-color: aqua;
}
#person{
    height:8vh;
    font-size:32px;
    background-color:purple;
}
#overview{
    height:20vh;
    margin:2vh 0;
    display:block;
    background-color:red;
}
#overview>p{
    margin:0;
    height:20%;
}
#content{
    display:flex;
    background-color: brown;
}
#content>div{
    width:24vw;
}