body{
    width:96vw;
    margin:0 2vw;
    background-color:#F5F5F5;
    text-align:center;
}
#logo{
    width:20vh;
    height:20vh;
    border-radius:50%;
    margin:0 auto;
    background-color:#000000;
}
#status{
    height:4vh;
    font-size:16px;
    margin-top:1vh;
}
#person{
    height:11vh;
    font-size:36px;
    font-family: 'Pacifico', cursive;
}
#overview{
    height:30vh;
    font-size:18px;
    margin:2vh 0;
    display:block;
}
.title{
    font-size:32px;
}
#overview>p{
    margin:0;
    height:20%;
}
#content{
    display:flex;
}
#content>div{
    width:24vw;
}
@media screen and (max-width:959px){
    
}
@media screen and (max-width:480px){

}